@use "./color-variables" as colors;
$font-family-Karla: "karla", "Helvetica Neue", "Helvetica", "Arial", system-ui,
  sans-serif !default;
$font-size-16: 16px;
$line-height-24: 24px;
.heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.heading-1 {
  color: #263238;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0px;
  @media screen and (min-width: 426px) {
    font-size: 2.4rem;
  }
}

.action-button {
  background-color: colors.$green-300;
  padding: 13px 29px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
  @media screen and (min-width: 426px) {
    font-size: 18px;
  }
}

.action-button:hover {
  background-color: colors.$green;
}
.action-button:active {
  background-color: colors.$green-300;
}
